<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SQLConnectionString" connectionString="Data Source=DTC-mhd-SQL-02;Initial Catalog=TestAzureFunctions;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>